@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components{
    .sidebar-icon{
        @apply relative flex items-center justify-center h-12 ml-3 w-12 mt-2 mb-3 mx-auto bg-gray-600
        text-white cursor-pointer
        rounded-md transition-all duration-300 ease-linear;
    }
    .sidebar-icon:hover{
        @apply rounded-xl w-32 text-red-600;
    }
    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 rounded-md text-white bg-gray-800 text-xl font-bold min-w-max left-14 shadow-md
        transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-icon-user{
        @apply relative flex items-center justify-center h-12 w-20 mt-2 mb-3 mx-auto bg-white
        text-black hover:text-searchbardown cursor-pointer
        transition-all duration-300 ease-linear;
    }

    .sidebar-tooltip-user{
        @apply absolute w-auto p-2 m-2 rounded-md text-white bg-blue-600 text-xl font-bold min-w-max left-14 shadow-md
        transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-text-user{
        @apply absolute w-auto p-2 m-2 text-searchbarup bg-inherit text-xl font-bold min-w-max left-14
        hover:text-searchbardown
        transition-all duration-300 ease-linear;
    }

    @keyframes gradientChange {
        0% {
            background-position: 100% 0;
        }
        100% {
            background-position: 0 0;
        }
    }

    .gradient-bg {
        background-size: 200% 100%;
        background-position: right top;
        transition: all 0.3s ease-out;
        animation: gradientChange 3s infinite;
    }

    .otp-button {
        @apply bg-gradient-to-r from-polyblue to-lapis text-white px-4 py-2 rounded-md focus:outline-none mx-auto my-auto w-full;
    }

    .otp-button:hover {
        @apply bg-gradient-to-l from-polyblue to-lapis hover:duration-300;
    }

}
